body {
  color: #61210F;
}

a {
  color: #364652;
}

li >  a:active {
  color: #364652;
  border-bottom: 1px solid #E0D3DE;
}

li >  a:hover {
  color: #364652;
  border-bottom: 1px solid #E0D3DE;
}

p > a:hover {
  color: #364652;
  border-bottom: 1px solid #E0D3DE;
}

p > a:active {
  color: #364652;
  border-bottom: 1px solid #E0D3DE;
}

p > a:visited {
  color: #364652;
}

.ft-cards .ft-item a {
  color: #DE6E4B;
}
.ft-cards .ft-item a:hover {
  color: #E0D3DE;
}
.purple {
  color: # E0D3DE;
}
.orange {
  color: #DE6E4B;
}
.charcoal {
  color: #61210F;
}
.btn-light {
  background: #E0D3DE;
}
.btn-light:hover {
  background: #FCDEBE;
}
.btn-light:active {
  background: #FCDEBE;
}
.btn-light:visited {
  background: #E0D3DE;
}
.sec-heading .purple {
  color: #E0D3DE;
}
.sec-heading .orange, .lead .orange {
  color: #DE6E4B;
}

.sec-heading .charcoal {
  color: #61210F;
}

.hero-content .charcoal {
  color: #61210F;
}
.light-bg {
  background: #FCDEBE;
}
.light-alt-bg {
  background: #E0D3DE;
}
.research-icon {
 height: 75px
}
.research-icon img {
  height: 100%
}

.copyright {
  background: #61210F;
  color: #FCDEBE;
}

.copyright .to-the-top {
  color: #FCDEBE;
}

.navbar-inverse {
  background: #61210F;
  color: #FCDEBE;
}

.navbar-inverse .navbar-brand {
  color: #FCDEBE;
}

a .ft-item {
  color: #777
}

.navbar-inverse .navbar-nav li a {
  color: #FCDEBE;
}

.navbar-inverse .navbar-nav .active a {
  color: #E0D3DE;
}

.block-list {
  list-style-type: none;
  margin-top: 25px;
  display: inline-block;
}

.block-list .small-icon {
  font-size: 1.5em ;
  padding: 10px;
}

.small-icon {
  font-size: 3.5em;
}

.twenty-padding {
  padding: 20px
}

.block-list li {
  text-align: left;
  margin: 10px;f
}

.no-margin {
  margin:0px;
}

.center-text {
  text-align: center;
}

.agency2-hero .bg-overlay {
  background: rgba(17,17,17,0.2)
}

@media only screen and (max-width: 1076px) {
    #cartoon {
        height: 50% !important;
    }
}
@media only screen and (max-width: 992px) {
    #cartoon {
        display: none;
    }
}
